<div [class.animate__bounceOut]="animateOut" class="heart-wrapper">
  <div [class.animate__heartBeat]="attracted" class="heart primary"></div>
  <div [class.animate__heartBeat]="attracted" class="heart secondary"></div>
</div>

<form>
  <h1 class="heading">Searching for</h1>
  <div class="vertical-button">
    <button (click)="attractedChoose(genderFemale)" class="brutal-button bg-secondary" type="button">Female</button>
    <button (click)="attractedChoose(genderMale)" class="brutal-button" type="button">Male</button>
  </div>
</form>