:host {
  background-color: rgb(62 15 54);
}

.broken-heart {
  background-image: url('/public/icons/deepHeartBroken.svg');
  width: 96px;
  height: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2rem auto;
  filter: brightness(0) saturate(100%) invert(19%) sepia(41%) saturate(7493%) hue-rotate(335deg) brightness(101%) contrast(101%) drop-shadow(0px 2px 3px rgba(255,0,255,0.5));
}
