/** FIXME: tema do agroflorestando, neste software está sobrescrito em style.scss, preciso me organizar sobre isso */
body[data-theme="default"] {
  --base: #BAFCA2;
  --contrast: rgb(15, 20, 25);
  --baseText: var(--contrast);

  --baseSecondary: white;
  --baseSecondaryDarker: rgb(253, 229, 229);
  --baseSecondaryText: black;

  --primary: #7FBC8C;
  --primaryContrast: black;
  
  --secondary: #F4D738;
  --secondaryContrast: var(--primaryContrast);

  --danger: #FF7423;
}

.bg-base {
  background-color: var(--base) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-tertiary {
  background-color: var(--tertiary) !important;
}

.bg-male {
  background-color: var(--male) !important;
}

.bg-female {
  background-color: var(--female) !important;
}

.bg-danger {
  background-color: var(--danger) !important;
}

.text-male {
  color: var(--male) !important;
}

.text-female {
  color: var(--female) !important;
}
