body {
  --base: rgb(57 40 54);

  --primary: rgb(181 46 47);
  --secondary: rgb(193 42 69);
  --selection: rgb(55, 12, 82);

  --male: rgb(181 46 47);
  --female: rgb(193 42 69);

  --contrast: rgb(28 22 27);
  --confirm: #c11616;
  --cancel: var(--primary);
}

.bg-base {
  background-color: var(--base) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-male {
  background-color: var(--male) !important;
}

.bg-female {
  background-color: var(--female) !important;
}

.bg-confirm {
  background-color: var(--confirm) !important;
}

.bg-cancel {
  background-color: var(--cancel) !important;
}

.text-male {
  color: var(--male) !important;
}

.text-female {
  color: var(--female) !important;
}
