button.brutal-button {
  @include brutal-border-thin;
  @include brutal-radius;

  cursor: pointer;
  padding: .5rem 1rem;
  background-color: var(--primary);
  align-items: center;
  display: flex;
  -webkit-tap-highlight-color: transparent;

  &:active {
    @include brutal-border-thin-active;
  }

  &.brutal-secondary {
    background-color: var(--secondary);
  }
}
