@font-face {
  font-family: 'LoveYaLikeASister';
  src: url('/public/fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url('/public/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//  theme
@import 'styles/themes/default';

//  tools
@import 'styles/tools/brutal-tools';
@import 'styles/tools/bottom-bordered';
@import 'styles/tools/vertical-button';

//  reset
@import 'styles/elements/reset';
@import 'styles/elements/body';
@import 'styles/elements/heading';

//  components
@import 'styles/components/heart';
@import 'styles/components/typing-ellipsis';
@import 'styles/components/modal-outlet';

//  forms components
@import 'styles/components/forms/field-container';
@import 'styles/components/forms/button-icon';
@import 'styles/components/forms/button';
@import 'styles/components/forms/button-group';
