@font-face {
  font-family: 'LoveYaLikeASister';
  src: url('/fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url('/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  --base: rgb(57 40 54);
  --primary: rgb(181 46 47);
  --secondary: rgb(193 42 69);
  --selection: rgb(55, 12, 82);

  --male: rgb(181 46 47);
  --female: rgb(193 42 69);

  --contrast: rgb(28 22 27);
}

//  theme
@import 'styles/themes/default';

//  tools
@import 'styles/tools/brutal-tools';
@import 'styles/tools/bottom-bordered';

//  reset
@import 'styles/elements/reset';
@import 'styles/elements/body';
@import 'styles/elements/heading';

//  components
@import 'styles/components/heart';
@import 'styles/components/typing-ellipsis';

//  forms components
@import 'styles/components/forms/field-container';
@import 'styles/components/forms/button-icon';
@import 'styles/components/forms/button';
@import 'styles/components/forms/button-group';
